{% extends 'base.html' %}

{% block content %}
    {% for mensaje in get_flashed_messages() %}
    <link rel="stylesheet" href="css.css">
    <div class="alert alert-success alert-dismissable">
        <button type="button"
                data-dismiss="alert"
                class="close">
                &times;
            {{ mensaje }}
        </button>
    </div>
    {% endfor %}

    <nav class="nav navbar-inverse">
        <DIV class="container">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/productos/crear">Productos </a>
                    </li>
                    <li>
                        <a href="">Clientes</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li>
                        <a href="/auth/login">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/auth/login">Login</a>
                    </li>
                    {% endif %}
                </ul>
        </DIV>
        
        </nav>

    <h1>Lista de Productos</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>nombre</th>
                <th>precio</th>
                <th>imagen</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td>
                        <img src="imagenes/{{ producto.imagen }}" alt="" width="250px">
                    </td>

                    <td>
                      
                        <a href="/productos/editar/{{producto.id}}">Editar</a>
            
                    </td>

                    <td>
                        <a href="/productos/eliminar/{{producto.id}}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}